// VDataTable, VTable scrollbar
.v-data-table,
.v-table {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}

